body{
  font-family: "Montserrat", sans-serif;
  /* font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal; */
  margin: 0;
  background-color: #000;
  color:#fff;
  overflow: hidden; /*now content on page cannot be scrolled. You can learn this property by searchin on google on mdn*/

}


.main{
    display: flex;
    padding: 0.5rem;
    height: 100vh;/*This means 100% of our viewport height and vieport means browsers that page which is visible on screen*/
}

.sidebar{
    background-color:#000;
    width: 340px;
    margin-right: 0.5rem;
    border-radius: 1rem; /*1rem=16px and likewise 2rem=32px */
}

.main-content{
background-color:#121212;
padding:0 1.5rem 0 1.5rem;
flex:1; /*flex:1; indicates that whatever extra space remains in the background other than the space remained by sidebar will get occupied by this "main-content" */
border-radius: 1rem;
overflow: auto;/*This means scroll bar will appear whenever required*/
}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}
a{
  text-decoration: none;
  color: white;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex; /*this will make our elements display in inline manner to avoid this we will change flex-direction:column;*/
    flex-direction: column; 
    justify-content: center; /*to align items vertically to center*/
    height:100px;
    padding: 0.5rem 0.75rem; /*rem is used because incase if screen size is becomes small then padding will be given according font size and not according to pixels*/
    
}

.nav-option{
    line-height: 2.5rem;/*this is height of single line of element e.g. Home  2.5rem=40px */
    opacity:0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover{
   opacity:1;
}


.nav-option a{
   font-size: 1rem;
   margin-left: 1rem;
}

.nav-option i{
    font-size: 1.25rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: .25rem;
    padding: 0.5rem 0.75rem;
}

.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-options img{
    height:1.25rem;
    width:1.25rem;
}

.icons{
   font-size:1rem;
   
   display: flex;
  
}

.icons i{
   opacity: 0.7;
   margin-right: 1rem;
}
.icons i:hover{
  opacity: 1;
}

.box{
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}

.box-p1{
    font-size: 1rem;
    font-weight: 500;
}

.box-p2{
    font-size: 0.75rem;
   opacity: 0.9;
}

.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding:.25rem 1rem;
    font-weight:700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.sticky-nav{
    position: sticky;
    background-color: #121212;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.sticky-nav-icons img{
  margin-left: 0.75rem;

}

.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    margin-right: 1rem;
}

.dark-badge{
    background-color: black;
    color:#fff;
}
@media(max-width:1000px){
    .hide{
        display:none;
    }
}

.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;/*if multiple cards are their they will get wrapped into space extra cards will displayed to next line*/
}

.card-img{
  width:100%;
  border-radius: 0.5rem;
}

.card-title{
font-weight: 600;
}

.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
}

.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.line{
    width:90%;
    height:50%;
    border-top:1px solid white;
    opacity: 0.4;
}

.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album{
    width: 25%; 
}

.album-content{
    display: flex;
    align-items: center;
    height: 51.2px;
     margin-left: 0rem;

}

.album-img{
    height: 51.2px;
    width: 48px;
    margin-left: 1.65rem;
}

.album-p1{
    font-size: 0.85rem;
}

.album-p2{
    font-size:0.5rem ;
}
.album-p-div{
    margin-left: 0.75rem;
}
.fav{
    margin-left: 8rem;
    cursor: pointer;
}

.player{
    width:50%;
    /* background-color: orange; */
   
}

.controls{
    width: 25%;
    /* background-color:green ; */
}

.player-controls{
   display:flex;
   justify-content: center;
   align-items: center;
   /* flex-wrap: wrap; */

}


.player-control-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.75;
}

.player-control-icon:hover{
    opacity: 1;
}

.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;  /*after we click on progress bar hand-cursor will appear*/
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}

